<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Articles</title>
    <link rel="stylesheet" type="text/css" href="/style.css" media="screen"/>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
</head>
<body>
	<h1><a class="stealth-url" href="/">Hussein Esmail</a></h1>
    <div class="nav">
        <header>
            <ul class="nav-ul">
                <li><a class="stealth-url" href="/about"    title="About">About</a></li>
                <li><a class="stealth-url" href="/articles" title="Articles">Articles</a></li>
                <li><a class="stealth-url" href="/books"    title="Books">Books</a></li>
                <li><a class="stealth-url" href="/guides"   title="Theatre Guides">Theatre Guides</a></li>
                <li><a class="stealth-url" href="/rss.xml"  title="RSS">RSS</a></li>
                <li><a class="stealth-url" href="/contact"  title="Contact">Contact</a></li>
            </ul>
        </header>
    </div>
    <h1 class="article-title">[FILE FRONT]</h1>
    <div>
        <p>
            <!-- TODO: Post body -->
        </p>
    </div>
    <br>

    <div>
        <p>
            <!-- Post body template block -->
        </p>
    </div>
    <br>

</body>
<footer>
    <br>
    <p>
        Created: &nbsp; [DATE]
    </p>
    <br>
    <p>
        Edited: &nbsp; &nbsp;  [DATE]
    </p>
</footer>
</html>
